<aside class="w-1/5 bg-[#0056B3] text-white p-6">
    <h2 class="text-xl font-semibold mb-4">Technician Menu</h2>
    <ul class="space-y-2">
        <li><a href="{% url 'technician_dashboard' %}" class="block py-2 hover:bg-blue-700 rounded px-2">Dashboard</a></li>
        <li><a href="{% url 'technician_products' %}" class="block py-2 hover:bg-blue-700 rounded px-2">Products</a></li>
        <li><a href="{% url 'technician_clients' %}" class="block py-2 hover:bg-blue-700 rounded px-2">Clients</a></li>
        <li><a href="{% url 'technician_all_devices' %}" class="block py-2 hover:bg-blue-700 rounded px-2">All Devices</a></li>
        <li><a href="{% url 'technician_requested_services' %}" class="block py-2 hover:bg-blue-700 rounded px-2">Requested Services</a></li>
        <li><a href="{% url 'technician_finished_services' %}" class="block py-2 hover:bg-blue-700 rounded px-2">Finished Services</a></li>
        <li><a href="{% url 'technician_next_services' %}" class="block py-2 hover:bg-blue-700 rounded px-2">Next Service</a></li>

    </ul>
</aside>